<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Don't Wine About It</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body>
    <header><h1>Don't Wine About it!</h1></header>
    <main>
        <form method="post">
            <label for="Name">What is your Name?</label>
            <input maxlength="25" name="Name" />

            <label for="MaxPrice">What is your price limit?</label>
            <input type="number" name="MaxPrice"/>

            <label for="MinPoints">What is the minimum points?</label>
            <input type="number" name="MinPoints"/>

            <button type="submit">Search Wine List!</button>
</form>
    </main>
</body>
</html>
